<!doctype html>
<html lang="en">
<head>
    <link rel="icon" href="../../../public/img/Logo.png" />
    <title>Aqua Future</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header class="sticky-top bg-header">
        <div class="container abc">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="../layout/index.html"><img class="logo" src="../../../public/img/Logo.png"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../layout/index.html">TRANG CHỦ<span
                                class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../layout/index.html#game">TRÒ CHƠI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../layout/index.html#newscontainer">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../layout/index.html#porfolio">HỖ TRỢ</a>
                        </li>
                        <li class="nav-item" data-href="https://hoangnghiahp0107.github.io/Beach/src/Views/index.html">
                            <a target="_blank"
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhoangnghiahp0107.github.io%2FBeach%2Fsrc%2FViews%2Findex.html&amp;src=sdkpreparse"
                                class="nav-link textfont">CHIA SẺ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../layout/login.html">TÀI KHOẢN</a>
                        </li>
                    </ul>
                    <form class="search-bar ml-3" onsubmit="handleSearch(event)">
                        <input type="text" placeholder="Search" name="q">
                        <button type="submit" onclick="window.location.href='../layout/index.html#newscontainer'">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section>
        <div id="user">
            <video muted autoplay loop src="../../../public/video/BackGround.mp4" style="position: absolute;"></video>
            <div class="wrapper">
                <div class="form-box login" id="login">
                    <h2>Đăng nhập</h2>
                    <form action="#">
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="person"></ion-icon>
                            </span>
                            <input id="tai_khoan_login" type="text" required>
                            <label>Tài khoản</label>
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            <input id="mat_khau_login" type="password" required>
                            <label>Mật khẩu</label>
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox">Lưu mật khẩu</label>
                            <a href="#">Quên mật khẩu?</a>
                        </div>
                        <button type="submit" class="btn" onclick="loginAccount()">Đăng nhập</button>
                        <div class="login-register">
                            <p>Chưa có tài khoản?
                                <a href="#" class="register-link">Đăng ký</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="form-box register">
                    <h2>Đăng ký</h2>
                    <form action="#">
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="person"></ion-icon>
                            </span>
                            <input id="tai_khoan" type="text" required>
                            <label>Tài khoản</label>
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="accessibility-outline"></ion-icon>
                            </span>
                            <input id="ho_ten" type="text" required>
                            <label>Họ tên</label>
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            <input id="mat_khau" type="password" required>
                            <label>Mật khẩu</label>
                        </div>
                        <div class="input-box">
                            <span class="icon">
                                <ion-icon name="lock-closed"></ion-icon>
                            </span>
                            <input id="nhap_lai_mk" type="password" required>
                            <label>Nhập lại mật khẩu</label>
                        </div>
                        <div class="remember-forgot">
                            <label><input type="checkbox" required>Tôi đồng ý với các điều khoản</label>
                        </div>
                        <button type="submit" class="btn" onclick="createUser()">Đăng ký</button>
                        <div class="login-register">
                            <p>Bạn đã có tài khoản?
                                <a href="#" class="login-link">Đăng nhập</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
        integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/auth.js"></script>
    <script src="../js/class.js"></script>
    <script src="../services/callApi.js"></script>
    <script src="../js/userController.js"></script>
</body>

</html>