<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../../public/img/Logo.png" />
    <title>Aqua Future</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../Views/css/admin.css">
  </head>
  <body>
    <div class="sidebar close">
        <a href="#" class="logo">
            <img src="../../public/img/Logo.png" alt="">
            <div class="logo-name"><span>Aqua</span>Future</div>
        </a>
        <ul class="side-menu">
            <li><a href="#"><ion-icon name="person-circle-outline"></ion-icon>Tài khoản</a></li>
            <li><a href="#"><ion-icon name="newspaper-outline"></ion-icon>Tin tức</a></li>
            <li><a href="#"><ion-icon name="chatbox-ellipses-outline"></ion-icon>Bình luận</a></li>
            <li><a href="#"><ion-icon name="cellular-outline"></ion-icon>Xếp hạng</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <ion-icon name="log-out-outline"></ion-icon>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>

    <div class="content">
        <nav>
            <ion-icon class="icon-menu" name="menu-outline"></ion-icon>
        </nav>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/admin.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>