<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../../public/img/Logo.png" />
    <title>Aqua Future</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../Views/css/style.css">
  </head>
  <body>
      <header class="sticky-top bg-header">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="../Views/index.html"><img class="logo" src="../../public/img/Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../Views/index.html">TRANG CHỦ<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="#game">TRÒ CHƠI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="#news">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="#support">HỖ TRỢ</a>
                        </li>
                        <li class="nav-item" data-href="https://hoangnghiahp0107.github.io/Beach/src/Views/index.html">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhoangnghiahp0107.github.io%2FBeach%2Fsrc%2FViews%2Findex.html&amp;src=sdkpreparse" class="nav-link textfont">CHIA SẺ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link textfont" href="../Views/login.html">TÀI KHOẢN</a>
                        </li>
                    </ul>
                    <form class="search-bar">
                        <input type="text" placeholder="Search" name="q">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </nav>
          </div>
      </header>
      <!--Head-->
      <section>
          <div>
              <video muted autoplay loop src="../../public/video/BackGround.mp4"></video>
              <img class="banner_title" src="../../public/img/title_Logo.png" alt="">
              <img class="banner_bot" src="../../public/img/body.png" alt="" style="width: 100%;">
          </div>
      </section>
      <!--Chi Tiet-->
      <section id="aboutcontainer">
        <img class="divider" src="../../public/img/about_div.png" alt="" />
        <div class="container">
            <table>
                <tbody>
                    <tr>
                        <div class="about">
                            100 triệu động vật biển chết mỗi năm chỉ vì rác thải nhựa, 8,3 triệu tấn nhựa được thải ra biển hàng năm. Trong đó, 236.000 tấn là vi nhựa mà các sinh vật biển nhầm với thức ăn… là những con số đáng báo động đối với tình trạng ô nhiễm đại dương trong những năm gần đây. Những số liệu trên đến từ thói quen sử dụng và vứt rác bừa bãi của con người chúng ta.
                            <br>
                            AQUA FUTURE với mục tiêu nâng cao ý thức của các bạn sinh viên huflit nói riêng và cộng đồng nói chung về vấn đề ô nhiễm môi trường.
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>
        <!-- Tin Tuc-->
        <section id="newscontainer">
            <img class="divider" src="../../public/img/news_div.png" alt=""/>
            <div class="container">
            
            </div>
        </section>
      <!--Dung De Rac Roi - Game -->
  
      <section id="game">
        <img class="divider" src="../../public/img/game_div.png" alt="" />
        <canvas id="unity-canvas"></canvas>
        <script src="Build/DungDeRacRoi_TrashFall.loader.js"></script>
        <script>
              if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
                  var meta = document.createElement('meta');
                  meta.name = 'viewport';
                  meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
                  document.getElementsByTagName('head')[0].appendChild(meta);
              }
              createUnityInstance(document.querySelector("#unity-canvas"), {
                  dataUrl: "Build/DungDeRacRoi_TrashFall.data",
                  frameworkUrl: "Build/DungDeRacRoi_TrashFall.framework.js",
                  codeUrl: "Build/DungDeRacRoi_TrashFall.wasm",
                  streamingAssetsUrl: "StreamingAssets",
                  companyName: "Nhom7_LapTrinhWeb",
                  productName: "Đừng Để Rác Rơi",
                  productVersion: "1.0",
              });
        </script>
      </section>
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=312188944597611" nonce="l02TyCPA"></script>
      <script src="js/gamecontroller.js"></script>
  </body>
</html>